---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
	<div class='w-full h-full bg-green-300 max-w-7xl mx-auto'>
		<h1 class='p-2 text-2xl'>About Page</h1>
	</div>
</Layout>
