---
import Layout from '../layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Post from '../components/Post.astro';

type BlogPost = CollectionEntry<'posts'>;

const posts = (await getCollection('posts')).sort((a: BlogPost, b: BlogPost) => b.data.date.valueOf() - a.data.date.valueOf()).slice(0, 4);
---

<Layout title='Welcome to Astro.'>
	<div class='max-w-5xl bg-white dark:bg-zinc-400 text-gray-700 dark:text-white mx-auto p-4'>
		<h1 class='text-xl'>Latest Posts</h1>
		<div class='grid grid-cols-1 md:grid-cols-2  gap-8'>
			{posts.map((post: BlogPost) => <Post post={post} />)}
		</div>
	</div>
</Layout>
