---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
	<div class='w-full h-full max-w-7xl bg-zinc-200 dark:bg-zinc-800 text-gray-700 dark:text-white bg-ston-300 mx-auto px-14 py-10'>
		<h1 class='text-2xl'>Tags Page</h1>
	</div>
</Layout>
