---

---

<button
	class='box-border inline-block transform-gpu h-10 cursor-pointer touch-manipulation whitespace-nowrap rounded-xl border-b-4 border-solid border-transparent bg-zinc-400/70 dark:bg-zinc-600 px-4 py-1 text-center text-sm font-bold uppercase leading-5 tracking-wider outline-none transition-all duration-200 active:border-b-0 active:py-0 active:bg-none disabled:cursor-auto'
	role='button'
	id='themeToggle'
>
	<svg
		class='sun hidden dark:block text-zinc-300 w-[24px] h-[24px]'
		xmlns='http://www.w3.org/2000/svg'
		width='24'
		height='24'
		viewBox='0 0 24 24'
		fill='none'
		stroke='currentColor'
		stroke-width='1.5'
		stroke-linecap='round'
		stroke-linejoin='round'
		class='lucide lucide-sun'
		><circle cx='12' cy='12' r='4'></circle><path d='M12 2v2'></path><path d='M12 20v2'></path><path d='m4.93 4.93 1.41 1.41'></path><path
			d='m17.66 17.66 1.41 1.41'></path><path d='M2 12h2'></path><path d='M20 12h2'></path><path d='m6.34 17.66-1.41 1.41'></path><path
			d='m19.07 4.93-1.41 1.41'></path></svg
	>
	<svg
		class='moon block dark:hidden text-zinc-500 w-[24px] h-[24px]'
		xmlns='http://www.w3.org/2000/svg'
		width='24'
		height='24'
		viewBox='0 0 24 24'
		fill='none'
		stroke='currentColor'
		stroke-width='1.5'
		stroke-linecap='round'
		stroke-linejoin='round'
		class='lucide lucide-moon'><path d='M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z'></path></svg
	>
	<span class='absolute inset-0 -z-10 rounded-xl bg-zinc-100/95 border border-zinc-400 dark:border-zinc-500 dark:bg-zinc-900/95'></span>
</button>

<script src='../../public/themetoggle.js'></script>
