---

---

<footer class='max-w-6xl mx-auto border-t-2 border-dashed pt-8'>
	<div class='flex gap-4 border-b pb-8 mb-5 flex-col lg:flex-row max-w-5xl mx-auto'>
		<div class='w-full lg:w-2/3'>
			<h1 class='text-lg font-bold'>CodeSplorer</h1>
			<p class='text-sm'>Learn.Build.Explore</p>
			<div class='flex gap-3 mt-3'></div>
		</div>
		<div class='flex lg:ml-auto gap-10 mt-1'>
			<div>
				<ul class='flex gap-2 text-sm'>
					<li>
						<a href='/blogs' class=''>Blogs</a>
					</li>
					<li>
						<a href='/projects' class=''>Projects</a>
					</li>
				</ul>
				<ul class='flex gap-2 text-sm'>
					<li>
						<a href='/tags' class=''>Tags </a>
					</li>
					<li>
						<a href='/about' class=''>About</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<p class='text-sm font-medium mb-5 text-center'>Open-Source Template. Credits: Astro.build</p>
</footer>
