---
import GithubIcon from './GithubIcon.astro';
---

<button
	class='text-md group flex items-center justify-center gap-1 rounded-xl text-gray-700 dark:text-white bg-zinc-200/55 dark:bg-zinc-900/75 px-4 hover:cursor-pointer border border-zinc-300 dark:border-zinc-500'
>
	<GithubIcon />
	<span>Github</span>
	<svg
		xmlns='http://www.w3.org/2000/svg'
		width='24'
		height='24'
		viewBox='0 0 24 24'
		fill='none'
		stroke='currentColor'
		stroke-width='2'
		stroke-linecap='round'
		stroke-linejoin='round'
		class='lucide lucide-arrow-up-right opacity-75 transition-all group-hover:-translate-y-[1px] group-hover:translate-x-[1px] group-hover:scale-110 group-hover:opacity-90'
	>
		<path d='M7 7h10v10'></path>
		<path d='M7 17 17 7'></path>
	</svg>
</button>
