---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ScrollToTopButton from '../components/ScrollToTopButton';
interface Props {
	title: string;
	description?: string;
	image?: string;
}
import { ViewTransitions } from 'astro:transitions';
const { title, description = 'Hello there', image = './images/band.jpg' } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<meta property='og:image' content={image} />
		<title>{title}</title>
		<ViewTransitions />
	</head>

	<body class='bg-white dark:bg-zinc-900'>
		<Header />
		<div class='pt-20'>
			<slot />
			<Footer />
			<ScrollToTopButton client:load />
		</div>
	</body>
</html>
